#slide-title h2 {
  color: orange;
}

#slide-career h1 {
  color: #224466;
}

#slide-career h2 {
  color: #336699;
}

#slide-career h2:first-child {
  margin-top: 2em;
}


#slide-golden h1:first-child {
  margin-top: 2em;
}


.highlight {
  color: orange;
  font-weight: bold;
}

.reveal .slides section .fragment.highlight-orange {
  opacity: 1;
  visibility: visible;
}
.reveal .slides section .fragment.highlight-orange.visible {
  color: orange;
}


p.attribution {
  font-size: 70%;
}

div.attribution {
  position: absolute;
  font-size: 70%;
  bottom: -7em;
}

#js-speed-charts {
  position: relative;
  height: 380px;
}

#js-speed-charts img {
  position: absolute;
  top: 0px;
  left: 177px;
  width: 605px;
  height: 340px;
}

#slide-es6-compat a {
  display: block;
}
#slide-es6-compat a.fragment {
  margin-top: -482px;
}

pre.js-run code,
pre.js-show code {
  height: 340px;
}

#slide-jquery-quote {
  box-sizing: border-box;
  padding: 1.5em;
  font-style: normal;
  font-size: 28px;
  text-align: left;
}
