#slide-title h2 {
  color: orange;
}

#slide-career h1 {
  color: #224466;
}

#slide-career h2 {
  color: #336699;
}

.highlight {
  color: orange;
  font-weight: bold;
}

p.attribution {
  font-size: 70%;
}

div.attribution {
  position: absolute;
  bottom: -7em;
  left: 0;
  font-size: 70%;
}

#js-speed-charts {
  position: relative;
  height: 380px;
}

#js-speed-charts img {
  position: absolute;
  top: 0px;
  left: 177px;
  width: 605px;
  height: 340px;
}

.inline-repl {
  height: 250px;
}

.inline-repl pre {
  height: 100%;
  float: left;
}

.inline-repl pre:first-child {
  width: 62%;
}
.inline-repl pre:last-child {
  width: 35%;
  float: right;
}

.inline-repl pre code {
  height: 100%;
  padding: 10px;
}
